# Node
node_modules/

# Local env / certs
.env
*.p12
*.pfx
certs/**

# Build outputs
dist/
release/
out/

# Electron-builder artifacts
*.exe
*.dmg
*.AppImage
*.snap
*.zip
*.7z
*.blockmap
latest.yml
builder-effective-config.yaml

# Logs / OS junk
*.log
.DS_Store
Thumbs.db

landing/